.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fde3e8;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #ff6396;
}

#note-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #ff6396;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffe2ed;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

li .btn-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

li .btn-container button {
  margin-left: 5px;
  background-color: #ffaecc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
